{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} mt-2">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<section class="hero d-flex align-items-center justify-content-center">

    <div class="glass-card p-4" style="width: 350px;">

        <h3 class="text-center mb-4">Login</h3>

        <form method="POST">

            <input type="text" name="username" placeholder="Enter Username" class="form-control mb-3" required>

            <input type="email" name="email" placeholder="Enter Email" class="form-control mb-3" required>

            <input type="password" name="password" placeholder="Enter Password" class="form-control mb-3" required>

            <button class="btn-primary-custom w-100">Login</button>

        </form>

        <div class="text-center mt-3">
            {% if session.get('username') %}
            <a href="/dashboard" class="btn-primary-custom">Get Started</a>
            {% else %}
            <p style="color: #00060b; margin-bottom: 8px;">
                Doesn't have an account?
            </p>
            
            <a href="/register" class="btn-outline-custom d-inline-block">Register</a>
            {% endif %}
        </div>

    </div>

</section>

{% endblock %}